section.episodes{
    margin-top: 2rem;
    display:flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.episode-list{
    height: 100%;
    width: 80%;
    display:grid;
    align-items: center;
    grid-template-columns:repeat(4, minmax(0px, 1fr));

}

.episode-prev{
    box-shadow: 2px 2px 4px silver;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    padding: 0.5rem;
    min-height: 8rem;  

}

section.episodes button{
    border:none;
    width: 10rem;
    padding: 0.4rem;
    border-radius: 4px;
    margin: 0.5rem 2rem;
    cursor: pointer;
    background-color: yellowgreen;
    font-size: calc(1rem + 1vw);
    /* font-weight: bold; */
}