.residents{
    width: 100%;
    min-height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.residents h1{
    margin-top: 1rem;
    font-family: wubba;
    font-size: 3rem;
    color:yellowgreen;

}

.resident-list{
    width: 80%;
    height: 100%;
    display:grid;
    grid-template-columns: repeat(3, minmax(0px, 1fr));
    gap: 10px;
    justify-items:center;

}

.empty{
    min-height: 10rem;
    width:10rem;
   
}

.poopy{
    max-width: 100%;
    object-fit: cover;
    
} 

.residents a {
    text-decoration: none;
}